# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
*.egg
.pytest_cache/
.coverage
htmlcov/

# Database
*.db
*.sqlite

# Env
.env
.env.local
.env.*.local

# Node / Frontend
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store